# Pandas

Pandas 是一个用于数据分析的Python库。Pandas 是在Numpy 的基础上设计的。

Pandas 的两种数据结构(DataFrame 和 Series)设计初衷是用于关系型或带标签的数据， 类似管理与SQL关系数据库和Excel工作表。

Pandas为时间序列分析提供了很好的支持。

如果有必要，先安装 Pandas

In [ ]:
import sys
!{sys.executable} -m pip install pandas

import pandas as pd
print(pd.__version__)

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
1.0.5

## DataFrame 对象

DataFrame 数据帧是二维的表格型数据结构。

DataFrame 的构造函数语法是： *pandas.DataFrame( data, index, columns, dtype, copy)*

其中 data 支持多种数据类型，比如 ndarray，list，dict, Series, DataFrame 等

In [ ]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [ ]:
my_dict = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(my_dict, index=['a','b','c','d'], dtype=float)
print (df)

    Name   Age
a    Tom  28.0
b   Jack  34.0
c  Steve  29.0
d  Ricky  42.0

## 读取数据

列名称用来读取列，loc 或iloc 读取行

loc  用index 的名称

iloc 用index 的整数位置

In [ ]:
print(df['Name'])

a      Tom
b     Jack
c    Steve
d    Ricky
Name: Name, dtype: object

In [ ]:
print(df.loc[['a', 'd']])

    Name   Age
a    Tom  28.0
d  Ricky  42.0

In [ ]:
print(df.iloc[1:3])

    Name   Age
b   Jack  34.0
c  Steve  29.0

## 添加数据

用列名称直接加一列数据，append() 添加行数据

In [ ]:
df['isMarried'] = [True, False, False, True]
print(df)

df1 = df.append({'Name': 'Mike', 'Age': 56.0, 'isMarried': True}, ignore_index=True)
print(df1)

df2 = df.append(pd.DataFrame({'Name': 'Mike', 'Age': 56.0, 'isMarried': True}, index=['g',]))
print(df2)

    Name   Age  isMarried
a    Tom  28.0       True
b   Jack  34.0      False
c  Steve  29.0      False
d  Ricky  42.0       True
    Name   Age  isMarried
0    Tom  28.0       True
1   Jack  34.0      False
2  Steve  29.0      False
3  Ricky  42.0       True
4   Mike  56.0       True
    Name   Age  isMarried
a    Tom  28.0       True
b   Jack  34.0      False
c  Steve  29.0      False
d  Ricky  42.0       True
g   Mike  56.0       True

## 删除数据

一般用 drop()

axis = 0 表示行，axis = 1 表示列，默认为行

In [ ]:
df1.drop(4, inplace=True)
print(df1)

del df2['Age']
print(df2)

    Name   Age  isMarried
0    Tom  28.0       True
1   Jack  34.0      False
2  Steve  29.0      False
3  Ricky  42.0       True
    Name  isMarried
a    Tom       True
b   Jack      False
c  Steve      False
d  Ricky       True
g   Mike       True

## DataFrame 属性

基本和Numpy 差不多

In [ ]:
print(df.shape)
print(df.ndim)
print(df.values)

(4, 3)
2
[['Tom' 28.0 True]
 ['Jack' 34.0 False]
 ['Steve' 29.0 False]
 ['Ricky' 42.0 True]]

## DataFrame 方法

统计类方法比较实用

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       4 non-null      object
 1   Age        4 non-null      float64
 2   isMarried  4 non-null      bool
dtypes: bool(1), float64(1), object(1)
memory usage: 260.0+ bytes
None

In [ ]:
print(df.describe())

             Age
count   4.000000
mean   33.250000
std     6.396614
min    28.000000
25%    28.750000
50%    31.500000
75%    36.000000
max    42.000000

# Series 对象

Series 是一维数组，时间序列(Time-Series) 是以时间为索引(Index) 的Series。

Series 构造函数语法是：*pandas.Series( data, index, dtype, copy)*

In [ ]:
import numpy as np
s = pd.Series(np.linspace(0, 30, 12), name='series')
print(s)

0      0.000000
1      2.727273
2      5.454545
3      8.181818
4     10.909091
5     13.636364
6     16.363636
7     19.090909
8     21.818182
9     24.545455
10    27.272727
11    30.000000
Name: series, dtype: float64

In [ ]:
dates = pd.date_range('2019-1-1', periods=12, freq='M')
s.index = dates
print(s)

2019-01-31     0.000000
2019-02-28     2.727273
2019-03-31     5.454545
2019-04-30     8.181818
2019-05-31    10.909091
2019-06-30    13.636364
2019-07-31    16.363636
2019-08-31    19.090909
2019-09-30    21.818182
2019-10-31    24.545455
2019-11-30    27.272727
2019-12-31    30.000000
Freq: M, Name: series, dtype: float64

In [ ]:
print(s.values)
print(s.value_counts())

[ 0.          2.72727273  5.45454545  8.18181818 10.90909091 13.63636364
 16.36363636 19.09090909 21.81818182 24.54545455 27.27272727 30.        ]
21.818182    1
13.636364    1
24.545455    1
2.727273     1
10.909091    1
27.272727    1
8.181818     1
5.454545     1
19.090909    1
30.000000    1
16.363636    1
0.000000     1
Name: series, dtype: int64

value_counts()是Series拥有的方法，是一种查看表格某列中有多少个不同值的快捷方法，并计算每个不同值有在该列中有多少重复值。

In [ ]:
print(s.sum())
print(s.std())

180.0
9.833321660356333

# DataFrame 高级篇

In [ ]:
df = pd.DataFrame(data=s)
print(df)

               series
2019-01-31   0.000000
2019-02-28   2.727273
2019-03-31   5.454545
2019-04-30   8.181818
2019-05-31  10.909091
2019-06-30  13.636364
2019-07-31  16.363636
2019-08-31  19.090909
2019-09-30  21.818182
2019-10-31  24.545455
2019-11-30  27.272727
2019-12-31  30.000000

In [ ]:
df['stat'] = np.random.randn(12)
print(df)

               series      stat
2019-01-31   0.000000 -0.710132
2019-02-28   2.727273 -1.002890
2019-03-31   5.454545 -0.872371
2019-04-30   8.181818  0.053144
2019-05-31  10.909091 -0.379305
2019-06-30  13.636364 -0.277588
2019-07-31  16.363636  0.814426
2019-08-31  19.090909  0.566164
2019-09-30  21.818182  1.012904
2019-10-31  24.545455  1.444571
2019-11-30  27.272727 -0.812595
2019-12-31  30.000000  1.083204

In [ ]:
df['quarter'] = ['Q1', 'Q1', 'Q1', 'Q2', 'Q2', 'Q2', 'Q3', 'Q3', 'Q3', 'Q4', 'Q4', 'Q4']
print(df)

               series      stat quarter
2019-01-31   0.000000 -0.710132      Q1
2019-02-28   2.727273 -1.002890      Q1
2019-03-31   5.454545 -0.872371      Q1
2019-04-30   8.181818  0.053144      Q2
2019-05-31  10.909091 -0.379305      Q2
2019-06-30  13.636364 -0.277588      Q2
2019-07-31  16.363636  0.814426      Q3
2019-08-31  19.090909  0.566164      Q3
2019-09-30  21.818182  1.012904      Q3
2019-10-31  24.545455  1.444571      Q4
2019-11-30  27.272727 -0.812595      Q4
2019-12-31  30.000000  1.083204      Q4

## grouping

比较常用的是groupby() 方法

In [ ]:
groups = df.groupby('quarter')
print(groups)
print(groups.mean())
groups.aggregate([min, max]).round(2)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f63bc03d780>
            series      stat
quarter
Q1        2.727273 -0.861798
Q2       10.909091 -0.201250
Q3       19.090909  0.797831
Q4       27.272727  0.571727

        series         stat
           min    max   min   max
quarter
Q1        0.00   5.45 -1.00 -0.71
Q2        8.18  13.64 -0.38  0.05
Q3       16.36  21.82  0.57  1.01
Q4       24.55  30.00 -0.81  1.44

## Concatenation

类似于SQL数据库的表操作

In [ ]:
df1 = pd.DataFrame(['100', '200', '300', '400'], index=['a', 'b', 'c', 'd'], columns=['A',])
print(df1)

df2 = pd.DataFrame(['200', '150', '50'], index=['f', 'b', 'd'], columns=['B',])
print(df2)

     A
a  100
b  200
c  300
d  400
     B
f  200
b  150
d   50

In [ ]:
df3 = df1.append(df2, sort=False)
print(df3)

df3 = pd.concat((df1, df2), sort=False)
print(df3)

     A    B
a  100  NaN
b  200  NaN
c  300  NaN
d  400  NaN
f  NaN  200
b  NaN  150
d  NaN   50
     A    B
a  100  NaN
b  200  NaN
c  300  NaN
d  400  NaN
f  NaN  200
b  NaN  150
d  NaN   50

## Joining

In [ ]:
df3 = df1.join(df2)
print(df3)

df3 = df1.join(df2, how='left')
print(df3)

     A    B
a  100  NaN
b  200  150
c  300  NaN
d  400   50
     A    B
a  100  NaN
b  200  150
c  300  NaN
d  400   50

默认为 left join

In [ ]:
df3 = df2.join(df1)
print(df3)

df3 = df1.join(df2, how='right')
print(df3)

     B    A
f  200  NaN
b  150  200
d   50  400
     A    B
f  NaN  200
b  200  150
d  400   50

In [ ]:
df3 = df1.join(df2, how='inner')
print(df3)

df3 = df1.join(df2, how='outer')
print(df3)

     A    B
b  200  150
d  400   50
     A    B
a  100  NaN
b  200  150
c  300  NaN
d  400   50
f  NaN  200

left，right，inner，outer join 这些操作类似于SQL joins

## Merging

In [ ]:
c = pd.Series([250, 150, 50], index=['b', 'd', 'c'])
df1['C'] = c
print(df1)
df2['C'] = c
print(df2)

     A      C
a  100    NaN
b  200  250.0
c  300   50.0
d  400  150.0
     B      C
f  200    NaN
b  150  250.0
d   50  150.0

In [ ]:
df3 = pd.merge(df1, df2)
print(df3)

df3 = pd.merge(df1, df2, on='C')
print(df3)

df3 = pd.merge(df1, df2, how='outer')
print(df3)

     A      C    B
0  100    NaN  200
1  200  250.0  150
2  400  150.0   50
     A      C    B
0  100    NaN  200
1  200  250.0  150
2  400  150.0   50
     A      C    B
0  100    NaN  200
1  200  250.0  150
2  300   50.0  NaN
3  400  150.0   50

默认为 inner merge，自动寻找相同的列进行merge

In [ ]:
df3 = pd.merge(df1, df2, left_on='A', right_on='B')
print(df3)

df3 = pd.merge(df1, df2, left_on='A', right_on='B', how='outer')
print(df3)

     A    C_x    B  C_y
0  200  250.0  200  NaN
     A    C_x    B    C_y
0  100    NaN  NaN    NaN
1  200  250.0  200    NaN
2  300   50.0  NaN    NaN
3  400  150.0  NaN    NaN
4  NaN    NaN  150  250.0
5  NaN    NaN   50  150.0

merge 另一个参数是把index 也考虑进去

In [ ]:
df3 = pd.merge(df1, df2, left_index=True, right_index=True)
print(df3)

df3 = pd.merge(df1, df2, on='C', left_index=True)
print(df3)

df3 = pd.merge(df1, df2, on='C', right_index=True)
print(df3)

df3 = pd.merge(df1, df2, on='C', left_index=True, right_index=True)
print(df3)

     A    C_x    B    C_y
b  200  250.0  150  250.0
d  400  150.0   50  150.0
     A      C    B
f  100    NaN  200
b  200  250.0  150
d  400  150.0   50
     A      C    B
a  100    NaN  200
b  200  250.0  150
d  400  150.0   50
     A      C    B
b  200  250.0  150
d  400  150.0   50